body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  transition: background-color 0.3s ease;
}

.App {
  text-align: center;
  padding: 40px;
  min-height: 100vh;
}

.App.dark {
  background-color: #333;
  color: #fff;
}

.App h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.App input[type='file'] {
  margin-bottom: 20px;
}

.App img {
  margin-bottom: 20px;
}

.App h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.App h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.toggle-container span {
  margin-right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
