.App {
  text-align: center;
  margin-top: 40px;
}

.App h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.App input[type='file'] {
  margin-bottom: 20px;
}

.App img {
  margin-bottom: 20px;
}

.App h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.App h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
