body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  transition: background-color 0.3s ease;
}

.App {
  text-align: center;
  padding: 20px;
  min-height: 100vh;
}

.App.dark {
  background-color: #343a40;
  color: #fff;
}

.toggle-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.predictions table th, .predictions table td {
  vertical-align: middle; /* Vertically center the content */
}

/* Ensure toggle-container is responsive */
@media (max-width: 768px) {
  .toggle-container {
    right: 0px; /* Adjust right margin on smaller screens */
    top: 0px; /* Adjust top margin on smaller screens */
  }

  .App {
    padding: 0px; /* Reduce padding for small screens */
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #007bff;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
