.FacialAnalysis {
  min-height: 50vh;
  background-color: #ffffff;
}

.analysis-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.preview-image {
  max-width: 100%;
  max-height: 300px;
  border-radius: 8px;
  object-fit: cover;
}

.custom-file-label::after {
  content: "Browse";  /* Customize the 'Browse' text */
}

.predictions {
  margin-top: 20px;
  width: 100%;
}

.predictions table {
  width: 100%;
  border-collapse: collapse;
}

.predictions th, .predictions td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.predictions th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

.predictions td:first-child {
  font-weight: bold;
}

.predictions .progress-bar {
  background-color: #4caf50;
}

.predictions .recommendations-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.predictions .recommendations-list li {
  margin-top: 10px;
  width: calc(33% - 20px);
}


.predictions .recommendations-list li img {
  max-width: 100%;
  max-height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.predictions .recommendations-list li img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .text-center {
    right: 0px; /* Adjust right margin on smaller screens */
    top: 0px; /* Adjust top margin on smaller screens */
    padding: 0px;
  }

  .App {
    padding: 0px; /* Reduce padding for small screens */
  }  
}